body{
    background-image: url(https://images.pexels.com/photos/29533740/pexels-photo-29533740.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:left;
   
}
